include README.md
include LICENSE
include pyproject.toml
recursive-include src *.py
recursive-include src *.typed
recursive-include docs *.md
recursive-include examples *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store